<canvas #canvas width="400" height="400"></canvas>
<div id="controls">
  <div id="header">
    <h1>Impuls Simulation</h1>
    <p>Developed with ❤️ by Placeblock</p>
  </div>
  <hr>
  <div id="settings">
    <div id="settingsItem">
      <div id="settingsButtons">
        <div id="settingsHeader">Controls</div>
        <button style="width: 50px;" *ngIf="this.paused" (click)="resume()"><fa-icon [icon]="faPlay"></fa-icon></button>
        <button style="width: 50px;" *ngIf="!this.paused" (click)="pause()"><fa-icon [icon]="faPause"></fa-icon></button>
        <button (click)="restart()">Restart</button>
      </div>
    </div>
    <div id="settingsItem">
      <div id="settingsButtons">
        <div id="settingsHeader">Type</div>
        <select name="impType" id="impType" (change)="this.setImpulsType($event)">
          <option value="elastic">Elastic</option>
          <option value="unelastic">Unelastic</option>
        </select>
      </div>
    </div>
    <div id="settingsItem">
      <div id="settingsButtons">
        <div id="settingsHeader">Data</div>
        <select name="data" id="data" (change)="this.setRenderData($event)">
          <option value="impuls">Impuls</option>
          <option value="velocity">Velocity</option>
          <option value="energy">Kinetic Energy</option>
        </select>
      </div>
    </div>
    <div id="settingsItem">
      <div id="settingsButtons">
        <div id="settingsHeader">Walls</div>
        <button id="wallsButton" (click)="setWalls(!this.walls)" [ngClass]="{'walls': this.walls == true}">{{this.walls?"Yes":"No"}}</button>
      </div>
    </div>
    <div id="settingsItem">
      <div id="settingsButtons">
        <div id="settingsHeader">Speed</div>
        <input type="range" min="1" max="30" (input)="setSpeed($event)" [value]="this.speed">
      </div>
    </div>
    <div id="settingsItem">
      <div id="settingsButtons">
        <div id="settingsHeader">Sound</div>
        <button style="width: 50px;" *ngIf="this.sound" (click)="this.setSound(false)"><fa-icon [icon]="faVolumeHigh"></fa-icon></button>
        <button style="width: 50px;" *ngIf="!this.sound" (click)="this.setSound(true)"><fa-icon [icon]="faVolumeMute"></fa-icon></button>
      </div>
    </div>
  </div>
  <hr>
  <div id="rectsContainer">
    <div id="rectsHeader">
        <p>Objects:</p>
        <button (click)="addObject()">Add</button>
    </div>
    <table id="rectsTable">
      <tr>
        <th>StartPosition (px)</th>
        <th>Mass (kg)</th>
        <th>Velocity (m/s)</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let rectData of this.rectDataList; let i = index">
        <td><input name="positioninput" type="number" placeholder="Position" min="0" max="380" [value]="rectData.position" (input)="setPosition(i,$event)"></td>
        <td><input name="massinput" type="number" placeholder="Mass" min="0"  [value]="rectData.mass" (input)="setMass(i,$event)"></td>
        <td><input name="velocityinput" type="number" placeholder="Velocity" [value]="rectData.velocity" (input)="setVelocity(i,$event)"></td>
        <td><button (click)="deleteRect(i)" class="deleteButton">X</button></td>
      </tr>
    </table>
  </div>
</div>